;; Project dependencies.
;;
;; References
;; - https://clojure.org/reference/deps_and_cli
;; - https://github.com/seancorfield/dot-clojure
;;
{:paths ["."]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}

         ;; building systems from components
         com.stuartsierra/component {:mvn/version "1.0.0"}

         ;; logging
         ;; See: https://lambdaisland.com/blog/2020-06-12-logging-in-clojure-making-sense-of-the-mess
         com.taoensso/timbre       {:mvn/version "4.10.0"}
         com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"} ; redirect slf4j to timbre

         ;; Exclude slf4j-nop to fix a warning about multiple slf4j bindings.
         ;; Note: Can be removed once tools.deps removes slf4j-nop as a dependency.
         org.clojure/tools.deps.alpha {:mvn/version "0.8.695"
                                       :exclusions  [org.slf4j/slf4j-nop]}

         ;; database
         ;; Note: hd to hand locate ojdbc8 jar at:
         ;; https://repo1.maven.org/maven2/com/oracle/ojdbc/ojdbc8/
         com.oracle.ojdbc/ojdbc8 {:mvn/version "19.3.0.0"}
         yesql                   {:mvn/version "0.5.3"}

         ;; other
         aero                  {:mvn/version "1.1.6"}        ; configuration
         diehard               {:mvn/version "0.10.0"}       ; retries and rate limits
         clj-http              {:mvn/version "3.10.1"}       ; http client
         fipp                  {:mvn/version "0.6.23"}       ; pretty printer
         com.novemberain/welle {:mvn/version "3.0.0"}        ; riak client
         tick                  {:mvn/version "0.4.23-alpha"} ; time
         clansi                {:mvn/version "1.0.0"}        ; ansi colors
         toyokumo/tarayo       {:mvn/version "0.2.2"}        ; send email
         cli-matic             {:mvn/version "0.4.3"}        ; command line
         }

 :aliases {:run {:main-opts ["-m" "eway.site.11214.subscriber-response-hook"]}

           ;; common test deps
           :test {:extra-deps {clj-http-fake {:mvn/version "1.0.3"}}}

           ;; development repl
           :nrepl {:extra-deps {nrepl             {:mvn/version "0.7.0"}
                                cider/cider-nrepl {:mvn/version "0.25.0-alpha1"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}

           ;; auto run tests when files change
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.632"}}
                    :main-opts  ["-m" "kaocha.runner"]}

           ;; test coverage report
           :cloverage {:extra-deps {cloverage {:mvn/version "1.1.2"}}
                       :main-opts  ["-m" "cloverage.coverage"
                                    "-p" "src"
                                    "-s" "test"
                                    "--ns-regex" ".*"
                                    "--ns-exclude-regex" ".*-test"
                                    "--test-ns-regex" ".*-test"]}

           ;; list outdated dependencies
           ;; Note: See wrapper bin/outdated which works around a bug in --every.
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main"]}}}
