;; Project dependencies.
;;
;; References
;; - https://clojure.org/reference/deps_and_cli
;; - https://github.com/seancorfield/dot-clojure
;;
{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}

         ;; logging
         com.taoensso/timbre       {:mvn/version "4.10.0"}
         com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"} ; redirect slf4j to timbre

         ;; database
         ;; Note: hd to hand locate ojdbc8 jar at:
         ;; https://repo1.maven.org/maven2/com/oracle/ojdbc/ojdbc8/
         com.oracle.ojdbc/ojdbc8 {:mvn/version "19.3.0.0"}
         ;; seancorfield/next.jdbc    {:mvn/version "1.0.462"} ; clojure jdbc
         ;; com.zaxxer/HikariCP       {:mvn/version "3.4.5"}   ; connection pool
         ;; com.layerware/hugsql      {:mvn/version "0.5.1"}
         ;; com.layerware/hugsql-core {:mvn/version "0.5.1"}   ; sql builder
         ;; com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.1"}
         yesql                   {:mvn/version "0.5.3"}

         ;; miscellaneous
         clj-http              {:mvn/version "3.10.1"} ; http client
         fipp                  {:mvn/version "0.6.23"} ; pretty printer
         com.novemberain/welle {:mvn/version "3.0.0"}  ; riak client
         }

 :aliases {:hook {:main-opts ["-m" "eway.site.core"]}

           ;; common test deps
           :test {:extra-paths ["test"]
                  :extra-deps  {toyokumo/tarayo {:mvn/version "0.2.1"}}}

           ;; development repl
           :nrepl {:extra-deps {nrepl             {:mvn/version "0.7.0"}
                                cider/cider-nrepl {:mvn/version "0.25.0-alpha1"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[\"cider.nrepl/cider-middleware\"]"]}

           ;; auto run tests when files change
           :watch {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.632"}}
                   :main-opts  ["-m" "kaocha.runner" "--watch"]}

           ;; test coverage report
           :cloverage {:extra-deps {cloverage {:mvn/version "1.1.2"}}
                       :main-opts  ["-m" "cloverage.coverage" "-p" "src" "-s" "test"]}

           ;; linter
           :eastwood {:main-opts  ["-m" "eastwood.lint" "{:source-paths [\"src\"]},{:test-paths [\"test\"]}"]
                      :extra-deps {jonase/eastwood {:mvn/version "0.3.11"}}}

           ;; - see https://github.com/hugoduncan/criterium/
           ;; - (require '[criterium.core :refer [bench]])
           ;; - (bench (your-expression))
           :bench {:extra-deps {criterium {:mvn/version "RELEASE"}}}

           ;; list outdated dependencies
           ;; Note: See wrapper bin/outdated which works around a bug in --every.
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main"]}}}
